examples/convert-existing-tgz.json
[
    {
        "id": "b84864b2ff870a45",
        "type": "group",
        "z": "eef4037a6d25a1e0",
        "name": "automatically creating nodes that represent package files",
        "style": {
            "label": true
        },
        "nodes": [
            "ea7b1b985ba6ac70",
            "24b26f5122abf1bb",
            "ab37a3f877541c5b",
            "11289b70b58c767b",
            "96278268709caba6",
            "fc620efcbaf77846",
            "d981181116ccfb16"
        ],
        "x": 458,
        "y": 493.2857666015625,
        "w": 1099.857177734375,
        "h": 378.7142333984375
    },
    {
        "id": "ea7b1b985ba6ac70",
        "type": "NodeFactory",
        "z": "eef4037a6d25a1e0",
        "g": "b84864b2ff870a45",
        "name": "",
        "nodename": "",
        "color": "#e5e4ef",
        "hasbutton": false,
        "hasinput": true,
        "outputcount": 1,
        "category": "",
        "summary": "",
        "description": "",
        "icon": "font-awesome/fa-industry",
        "frt2bakcomm": false,
        "bak2frtcomm": false,
        "createmanifest": false,
        "x": 1461.857177734375,
        "y": 574.2857666015625,
        "wires": [
            []
        ]
    },
    {
        "id": "24b26f5122abf1bb",
        "type": "file in",
        "z": "eef4037a6d25a1e0",
        "g": "b84864b2ff870a45",
        "name": "",
        "filename": "/some/path/to/local/package.tgz",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1018.857177734375,
        "y": 579.2857666015625,
        "wires": [
            [
                "ea7b1b985ba6ac70"
            ]
        ]
    },
    {
        "id": "ab37a3f877541c5b",
        "type": "inject",
        "z": "eef4037a6d25a1e0",
        "g": "b84864b2ff870a45",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 595.857177734375,
        "y": 534.2857666015625,
        "wires": [
            [
                "24b26f5122abf1bb"
            ]
        ]
    },
    {
        "id": "11289b70b58c767b",
        "type": "inject",
        "z": "eef4037a6d25a1e0",
        "g": "b84864b2ff870a45",
        "name": "inject package details",
        "props": [
            {
                "p": "packagename",
                "v": "@gregoriusrippenstein/node-red-contrib-introspection",
                "vt": "str"
            },
            {
                "p": "packageversion",
                "v": "0.4.3",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 604,
        "y": 669,
        "wires": [
            [
                "96278268709caba6"
            ]
        ]
    },
    {
        "id": "96278268709caba6",
        "type": "function",
        "z": "eef4037a6d25a1e0",
        "g": "b84864b2ff870a45",
        "name": "retrieve tgz URL for package",
        "func": "pacote.manifest(\n    msg.packagename + \"@\" + msg.packageversion\n).then(manifest => {\n    msg.payload = manifest._resolved\n    node.send(msg)\n}).catch( err => {\n    msg.error = err\n    node.error(\"failed to get url\", msg)\n})\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "pacote",
                "module": "pacote"
            }
        ],
        "x": 807,
        "y": 825,
        "wires": [
            [
                "fc620efcbaf77846"
            ]
        ]
    },
    {
        "id": "fc620efcbaf77846",
        "type": "change",
        "z": "eef4037a6d25a1e0",
        "g": "b84864b2ff870a45",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1032,
        "y": 695,
        "wires": [
            [
                "d981181116ccfb16"
            ]
        ]
    },
    {
        "id": "d981181116ccfb16",
        "type": "http request",
        "z": "eef4037a6d25a1e0",
        "g": "b84864b2ff870a45",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1313,
        "y": 831,
        "wires": [
            [
                "ea7b1b985ba6ac70"
            ]
        ]
    }
]